bangazon.db
/src/bangazon-financial-reporting/bin/Debug/netcoreapp1.0/src/obj
/src/bangazon-financial-reporting/bin/Debug/netcoreapp1.0/src/bin
bangazon-financial-reporting-tests/bin
bangazon-financial-reporting-tests/obj